 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="#/hotels">Hotels <span class="sr-only">(current)</span></a></li>
        <li><a href="#/register">Register</a></li>
        <li><a href="#/secret">Secret</a></li>
      </ul>
      <div id='log' class="navbar-form navbar-right">
        <ul ng-if="vm.isLoggedIn()" class="nav navbar-nav navbar-right">
          <li><p class="navbar-text">Welcome back {{ vm.loggedInUser }}</p></li>
          <li><button class="btn btn-default" ng-click="vm.logout()">Logout</button></li>
        </ul>
        <form  ng-if="!vm.isLoggedIn()" role="login" ng-submit="vm.login()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.username" name="username" placeholder="username">
            <input type="text" class="form-control" ng-model="vm.password" name="password" placeholder="password">
          </div>
          <button type="submit" class="btn btn-default">login</button>
        </form>
      </div>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>